@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focuse,
:active {
  outline: none;
}

a:focuse,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*================General===============================*/
body {
  font-family: Fira Sans;
  font-style: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #171919;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}

._ibj img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-weight: 800;
  font-size: 80px;
  line-height: 195%;
  text-transform: uppercase;
  color: #f70707de;
  position: relative;
  z-index: 2;
}

.title::before {
  content: "";
  background: #4AF6CD;
  width: 80px;
  height: 1px;
  position: absolute;
  top: 30px;
  right: 0;
}

.title span {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
  font-size: 80px;
  line-height: 195%;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 3;
}

.title p {
  position: absolute;
  font-size: 220px;
  top: 70px;
  right: 0;
  color: rgba(41, 41, 41, 0.185);
  z-index: 1;
}

@media (max-width: 1025px) {
  .title {
    font-size: 60px;
  }
  .title p {
    font-size: 200px;
  }
  .title span {
    font-size: 60px;
  }
  .title::before {
    top: 20px;
  }
}

@media (max-width: 769px) {
  .title {
    font-size: 50px;
  }
  .title p {
    font-size: 180px;
    top: 50px;
  }
  .title span {
    font-size: 50px;
  }
  .title::before {
    top: 10px;
  }
}

@media (max-width: 661px) {
  .title {
    font-size: 40px;
  }
  .title p {
    font-size: 150px;
  }
  .title span {
    font-size: 40px;
  }
}

@media (max-width: 426px) {
  .title {
    font-size: 30px;
  }
  .title p {
    font-size: 100px;
    top: 30px;
  }
  .title span {
    font-size: 30px;
  }
  .title::before {
    width: 60px;
    top: 5px;
  }
}

.small-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 215%;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1025px) {
  .small-title {
    font-size: 30px;
  }
}

@media (max-width: 769px) {
  .small-title {
    font-size: 25px;
  }
}

@media (max-width: 661px) {
  .small-title {
    font-size: 20px;
  }
}

@media (max-width: 426px) {
  .small-title {
    font-size: 14px;
  }
}

.sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  position: relative;
}

.sub-title::before {
  content: "";
  background: #FFFFFF;
  opacity: 0.5;
  width: 80px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -110px;
}

@media (max-width: 1025px) {
  .sub-title {
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .sub-title {
    font-size: 18px;
  }
}

@media (max-width: 661px) {
  .sub-title {
    font-size: 14px;
  }
  .sub-title::before {
    width: 50px;
    top: 50%;
    left: -60px;
  }
}

@media (max-width: 426px) {
  .sub-title {
    font-size: 9px;
  }
  .sub-title::before {
    width: 30px;
    top: 50%;
    left: -50px;
  }
}

.airline-name {
  font-family: Splash;
  font-weight: 100;
  color: #4AF6CD;
  text-transform: none;
  text-decoration: underline;
  text-shadow: 3px 3px 10px #4AF6CD;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__btn-left {
  padding: 9%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__btn-left::before {
  content: "";
  position: absolute;
  top: 45%;
  right: -10px;
  width: 20px;
  height: 1px;
  background-color: #fff;
}

@media (max-width: 1025px) {
  .button__btn-left::before {
    right: -7.5px;
    width: 15px;
  }
}

@media (max-width: 769px) {
  .button__btn-left::before {
    right: -5px;
    width: 10px;
  }
}

.button__btn-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9%;
  background-color: #4AF6CD;
}

.button__btn-text {
  margin: 0px 10% 0px 0px;
}

.button-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 90%;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1441px) {
  .button-text {
    font-size: 30px;
  }
}

@media (max-width: 1025px) {
  .button-text {
    font-size: 25px;
  }
}

@media (max-width: 769px) {
  .button-text {
    font-size: 20px;
  }
}

/*================Shore===============================*/
.page__shore {
  background-color: black;
}

.shore__container {
  position: relative;
}

.shore__body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0px 0px 40px 0px;
  background: radial-gradient(ellipse at center, rgba(125, 126, 125, 0.3) 0%, rgba(110, 111, 110, 0.3) 8%, rgba(24, 24, 24, 0.9) 54%, rgba(0, 0, 0, 0.9) 67%, rgba(0, 0, 0, 0.9) 100%);
}

@media (max-width: 768px) {
  .shore__body {
    padding: 0px 0px 30px 0px;
  }
}

@media (max-width: 661px) {
  .shore__body {
    padding: 0px 0px 20px 0px;
  }
}

.shore__side {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11.74%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.shore__main {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 88.26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shore__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.shore__map-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  overflow: hidden;
}

.shore__slides-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.shore__places {
  padding-right: 70px;
}

@media (max-width: 1025px) {
  .shore__places {
    padding-right: 50px;
  }
}

@media (max-width: 769px) {
  .shore__places {
    padding-right: 35px;
  }
}

@media (max-width: 661px) {
  .shore__places {
    padding-right: 10px;
  }
}

.shore__places-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.shore__arrow-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0px 0px 40px 0px;
  cursor: pointer;
}

.shore__slider-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.shore__bak-lay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shore__bak-lay img {
  width: 100%;
  height: 100%;
}

.shore-aside__side-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.shore-aside__logo {
  margin: 0px 0px 86px 0px;
}

@media (max-width: 1025px) {
  .shore-aside__logo {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 769px) {
  .shore-aside__logo {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 661px) {
  .shore-aside__logo {
    margin: 0px 0px 15px 0px;
  }
}

.shore-aside__part {
  font-weight: 800;
  font-size: 60px;
  line-height: 143%;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1025px) {
  .shore-aside__part {
    font-size: 50px;
  }
}

@media (max-width: 769px) {
  .shore-aside__part {
    font-size: 40px;
  }
}

@media (max-width: 661px) {
  .shore-aside__part {
    font-size: 30px;
  }
}

@media (max-width: 426px) {
  .shore-aside__part {
    font-size: 20px;
  }
}

.shore-aside__part-1 {
  background-color: #4AF6CD;
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}

.shore-aside__part-1 span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1025px) {
  .shore-aside__part-1 {
    height: 160px;
  }
}

@media (max-width: 769px) {
  .shore-aside__part-1 {
    height: 150px;
  }
}

@media (max-width: 661px) {
  .shore-aside__part-1 {
    height: 100px;
  }
}

@media (max-width: 426px) {
  .shore-aside__part-1 {
    height: 70px;
  }
}

.shore-aside__part-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shore-aside__part-2 span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
}

.shore-aside__part-2 span::after {
  content: "";
  background: #FFFFFF;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: -35px;
}

@media (max-width: 769px) {
  .shore-aside__part-2 span::after {
    right: -32.5px;
  }
}

@media (max-width: 426px) {
  .shore-aside__part-2 span::after {
    width: 15px;
    right: -30px;
  }
}

@media (max-width: 769px) {
  .shore-aside__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
}

.shore-aside__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 38px 0px;
}

@media (max-width: 1025px) {
  .shore-aside__menu-list {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 769px) {
  .shore-aside__menu-list {
    display: none;
  }
}

.shore-aside__menu-list-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 38px 0px;
}

@media (max-width: 1025px) {
  .shore-aside__menu-list-active {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 769px) {
  .shore-aside__menu-list-active {
    display: block;
    position: absolute;
    right: -90px;
    bottom: 0;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.562);
  }
}

@media (max-width: 426px) {
  .shore-aside__menu-list-active {
    padding: 5px;
  }
}

.shore-aside__burger-menu {
  display: none;
}

@media (max-width: 769px) {
  .shore-aside__burger-menu {
    display: contents;
    margin: 0px 0px 25px 0px;
    cursor: pointer;
  }
}

.shore-aside__hide-menu {
  font-weight: bold;
  font-size: 40px;
  line-height: 70%;
  text-align: center;
  letter-spacing: 3px;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  padding: 0px 35px 0px 0px;
}

.shore-aside__hide-menu span, .shore-aside__hide-menu::after, .shore-aside__hide-menu::before {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.shore-aside__hide-menu::after, .shore-aside__hide-menu::before {
  content: "";
}

.shore-aside__hide-menu::after {
  top: 0;
}

.shore-aside__hide-menu::before {
  bottom: 0;
}

.shore-aside__hide-menu span {
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

@media (max-width: 661px) {
  .shore-aside__hide-menu {
    font-size: 35px;
  }
}

@media (max-width: 426px) {
  .shore-aside__hide-menu {
    font-size: 30px;
  }
}

.shore-aside__hide-menu-active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.shore-aside__hide-menu-active::after {
  top: 50%;
  -webkit-transform: translate(0px, -50%) rotate(-45deg);
          transform: translate(0px, -50%) rotate(-45deg);
}

.shore-aside__hide-menu-active::before {
  bottom: 50%;
  -webkit-transform: translate(0px, 50%) rotate(45deg);
          transform: translate(0px, 50%) rotate(45deg);
}

.shore-aside__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shore-aside__menu-items:not(:last-child) {
  margin: 0px 0px 37px 0px;
}

@media (max-width: 1025px) {
  .shore-aside__menu-items:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 426px) {
  .shore-aside__menu-items:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

.shore-aside__search {
  margin: 0px 0px 37px 0px;
}

@media (max-width: 661px) {
  .shore-aside__search {
    margin: 0px 0px 20px 0px;
  }
}

.shore-aside__search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.shore-aside__search-icon {
  cursor: pointer;
}

.shore-aside__search-field {
  display: none;
}

.shore-aside__search-field-active {
  display: block;
  position: absolute;
  right: -127px;
  top: 0px;
  z-index: 50;
}

.shore-aside__input {
  width: 120px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.562);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 0px 5px;
}

.shore-aside__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shore-aside__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 37px 0px;
}

@media (max-width: 1025px) {
  .shore-aside__data {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 769px) {
  .shore-aside__data {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 661px) {
  .shore-aside__data {
    margin: 0px 0px 5px 0px;
  }
}

.shore-aside__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px;
}

@media (max-width: 769px) {
  .shore-aside__location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540px) {
  .shore-aside__location {
    position: relative;
  }
}

.items-menu__icon {
  margin: 0px 0px 6px 0px;
}

.items-menu__icon img {
  width: 100%;
}

@media (max-width: 426px) {
  .items-menu__icon {
    margin: 0px 0px 4px 0px;
  }
}

.items-menu__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 166.66%;
  text-align: center;
  letter-spacing: 3px;
  color: #FFFFFF;
}

@media (max-width: 426px) {
  .items-menu__name {
    font-size: 10px;
  }
}

.data-shore__day {
  font-weight: 800;
  font-size: 72px;
  line-height: 89%;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1025px) {
  .data-shore__day {
    font-size: 60px;
  }
}

@media (max-width: 769px) {
  .data-shore__day {
    font-size: 50px;
  }
}

@media (max-width: 661px) {
  .data-shore__day {
    font-size: 40px;
  }
}

@media (max-width: 426px) {
  .data-shore__day {
    font-size: 30px;
  }
}

.data-shore__month-year {
  font-weight: 300;
  font-size: 16px;
  line-height: 118.75%;
  text-align: center;
  letter-spacing: 1.4px;
  color: #FFFFFF;
}

@media (max-width: 1025px) {
  .data-shore__month-year {
    font-size: 14px;
  }
}

@media (max-width: 769px) {
  .data-shore__month-year {
    font-size: 13px;
  }
}

@media (max-width: 661px) {
  .data-shore__month-year {
    font-size: 10px;
  }
}

.location-shore__icon {
  margin: 0px 9px 0px 0px;
}

@media (max-width: 769px) {
  .location-shore__icon {
    margin: 0px 0px 5px 0px;
  }
}

@media (max-width: 769px) {
  .location-shore__icon {
    cursor: pointer;
  }
}

.location-shore__place {
  font-weight: 300;
  font-size: 12px;
  line-height: 116.66%;
  text-align: center;
  letter-spacing: 1.05px;
  color: #FFFFFF;
}

@media (max-width: 661px) {
  .location-shore__place {
    font-size: 10px;
  }
}

@media (max-width: 540px) {
  .location-shore__place {
    display: none;
  }
}

@media (max-width: 540px) {
  .location-shore__place-active {
    display: block;
    position: absolute;
    left: 6px;
    top: 20px;
  }
}

.surf-shore__sub-title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0px 0px 12px 0px;
}

.surf-shore__title {
  line-height: 108%;
  color: #fff;
}

.surf-shore__title::before {
  content: none;
}

.conditional-shore__sub-title {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.location-items__arrow-down {
  -ms-flex-item-align: end;
      align-self: end;
  margin: 0px 20px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 540px) {
  .location-items__arrow-down {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.location-items__columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 661px) {
  .location-items__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 540px) {
  .location-items__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-flex: 0;
        -ms-flex: 0 0;
            flex: 0 0;
  }
}

.location-items__item {
  max-width: 200px;
  border-top: 4px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.location-items__item:not(:last-child) {
  margin: 0px 40px 0px 0px;
}

@media (max-width: 1025px) {
  .location-items__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }
}

@media (max-width: 769px) {
  .location-items__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
}

@media (max-width: 661px) {
  .location-items__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: 0px 5px 10px 5px;
  }
  .location-items__item:not(:last-child) {
    margin: 0px 5px 10px 5px;
  }
}

@media (max-width: 540px) {
  .location-items__item {
    width: 150px;
  }
}

.location-items__item-active {
  border-top: 4px solid #4AF6CD;
}

.location-items__number {
  font-weight: 800;
  font-size: 24px;
  line-height: 120.8%;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1025px) {
  .location-items__number {
    font-size: 20px;
  }
}

@media (max-width: 769px) {
  .location-items__number {
    font-size: 18px;
  }
}

@media (max-width: 426px) {
  .location-items__number {
    font-size: 15px;
  }
}

.location-items__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 118.75%;
  text-align: right;
  color: #FFFFFF;
}

@media (max-width: 769px) {
  .location-items__name {
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  .location-items__name {
    font-size: 12px;
  }
}

.info-slides__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.info-slides__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0px 0px 113px 0px;
}

.info-slides__maps-box {
  max-width: 78.68%;
  overflow: hidden;
}

.info-slides__maps-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.info-slides__maps-slide img {
  width: 100%;
}

.info-slides__titles {
  padding-right: 70px;
}

@media (max-width: 1025px) {
  .info-slides__titles {
    padding-right: 50px;
  }
}

@media (max-width: 769px) {
  .info-slides__titles {
    padding-right: 35px;
  }
}

@media (max-width: 769px) {
  .info-slides__titles {
    padding-right: 10px;
  }
}

.info-slides__surf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.info-slides__conditional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.info-slides__arrows {
  position: absolute;
  top: 5%;
  right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-slides__arrow-left {
  cursor: pointer;
  margin: 0px 20px 0px 0px;
}

.info-slides__arrow-left img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.info-slides__arrow-right {
  cursor: pointer;
}

/*================Surf===============================*/
.surf__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 127px 0px 0px 0px;
  margin: 0px 0px 220px 0px;
}

@media (max-width: 1025px) {
  .surf__body {
    padding: 80px 0px 0px 0px;
    margin: 0px 0px 120px 0px;
  }
}

@media (max-width: 769px) {
  .surf__body {
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 70px 0px;
  }
}

@media (max-width: 426px) {
  .surf__body {
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 40px 0px;
  }
}

.surf__head {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0px 0px 28px 0px;
}

@media (max-width: 426px) {
  .surf__head {
    margin: 0px 0px 10px 0px;
  }
}

.surf__title {
  margin: 0px 0px 0px 294px;
}

@media (max-width: 1025px) {
  .surf__title {
    margin: 0px 0px 0px 194px;
  }
}

@media (max-width: 769px) {
  .surf__title {
    margin: 0px 0px 0px 94px;
  }
}

@media (max-width: 426px) {
  .surf__title {
    margin: 0px 0px 0px 50px;
  }
}

.surf__world {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  position: relative;
  padding: 0px 70px;
  margin: 0px 0px 60px 0px;
}

@media (max-width: 1025px) {
  .surf__world {
    padding: 0px 60px;
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 769px) {
  .surf__world {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 426px) {
  .surf__world {
    margin: 0px 0px 10px 0px;
  }
}

.surf__box-world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.world-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
}

@media (max-width: 769px) {
  .world-box__head {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 660px) {
  .world-box__head {
    margin: 0px 0px 70px 0px;
  }
}

@media (max-width: 426px) {
  .world-box__head {
    margin: 0px 0px 85px 0px;
  }
}

.world-box__cards {
  height: 100%;
  width: 100%;
}

.card-slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
}

.card-slider__world-map {
  width: 100%;
  height: 100%;
}

.card-slider__world-map img {
  width: 100%;
  height: 100%;
}

.card-slider__lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.card-slider__lable-box {
  background: #0f1010e8;
  border-radius: 6px;
  padding: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0px 0px 10px 0px;
  position: relative;
  opacity: 0;
}

@media (max-width: 1125px) {
  .card-slider__lable-box {
    padding: 20px;
  }
}

@media (max-width: 1025px) {
  .card-slider__lable-box {
    padding: 15px;
  }
}

@media (max-width: 769px) {
  .card-slider__lable-box {
    padding: 10px;
  }
}

.card-slider__lable-box-active {
  opacity: 1;
}

.card-slider #airlie {
  left: 87%;
  top: 75%;
}

.card-slider #arica {
  left: 25%;
  top: 75%;
}

.card-slider #vieux {
  left: 47%;
  top: 40%;
}

.card-slider #kansai {
  left: 84%;
  top: 45%;
}

.card-slider #malibu {
  left: 10%;
  top: 40%;
}

.card-slider__pointer {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4af6ce42;
}

@media (max-width: 1025px) {
  .card-slider__pointer {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 769px) {
  .card-slider__pointer {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 661px) {
  .card-slider__pointer {
    width: 10px;
    height: 10px;
  }
}

.card-slider__pointer-active {
  background-color: #4AF6CD;
  -webkit-box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
          box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}

.card-slider__pointer-box {
  position: absolute;
  left: -550%;
  bottom: 100%;
  z-index: 10;
}

@media (max-width: 1125px) {
  .card-slider__pointer-box {
    left: -450%;
  }
}

@media (max-width: 1025px) {
  .card-slider__pointer-box {
    left: -440%;
  }
}

@media (max-width: 769px) {
  .card-slider__pointer-box {
    left: -430%;
  }
}

@media (max-width: 661px) {
  .card-slider__pointer-box {
    left: -700%;
  }
}

.card-slider__coordinates {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  right: -5%;
  top: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1125px) {
  .card-slider__coordinates {
    font-size: 13px;
    letter-spacing: 7px;
  }
}

@media (max-width: 1025px) {
  .card-slider__coordinates {
    font-size: 12px;
    letter-spacing: 4px;
  }
}

@media (max-width: 769px) {
  .card-slider__coordinates {
    font-size: 10px;
    letter-spacing: 2px;
  }
}

@media (max-width: 661px) {
  .card-slider__coordinates {
    letter-spacing: 1px;
  }
}

.card-slider__name-beach {
  font-weight: 800;
  font-size: 18px;
  line-height: 122.22%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px 0px 22px 0px;
  position: relative;
}

.card-slider__name-beach::before {
  content: "";
  background: #4AF6CD;
  width: 80px;
  height: 1px;
  position: absolute;
  top: 30px;
  left: 0;
}

@media (max-width: 1125px) {
  .card-slider__name-beach {
    font-size: 16px;
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 1025px) {
  .card-slider__name-beach {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
  }
  .card-slider__name-beach::before {
    width: 60px;
    top: 20px;
    left: 0;
  }
}

@media (max-width: 769px) {
  .card-slider__name-beach {
    font-size: 12px;
    margin: 0px 0px 5px 0px;
  }
  .card-slider__name-beach::before {
    width: 60px;
    top: 15px;
    left: 0;
  }
}

.card-slider__country {
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  color: #FFFFFF;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 1125px) {
  .card-slider__country {
    font-size: 14px;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 1025px) {
  .card-slider__country {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 769px) {
  .card-slider__country {
    margin: 0px 0px 5px 0px;
  }
}

.card-slider__weather-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -27.5px;
}

@media (max-width: 1125px) {
  .card-slider__weather-box {
    margin: 0px -20px;
  }
}

@media (max-width: 1025px) {
  .card-slider__weather-box {
    margin: 0px -10px;
  }
}

@media (max-width: 769px) {
  .card-slider__weather-box {
    margin: 0px -5px;
  }
}

.card-slider__column {
  padding: 0px 27.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1125px) {
  .card-slider__column {
    padding: 0px 20px;
  }
}

@media (max-width: 1025px) {
  .card-slider__column {
    padding: 0px 10px;
  }
}

@media (max-width: 769px) {
  .card-slider__column {
    padding: 0px 5px;
  }
}

.weather-info__icon {
  margin: 0px 0px 4px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-info__icon img {
  width: 100%;
}

@media (max-width: 769px) {
  .weather-info__icon img {
    width: 80%;
  }
}

@media (max-width: 661px) {
  .weather-info__icon img {
    width: 60%;
  }
}

.weather-info__indicators {
  font-weight: 800;
  font-size: 16px;
  line-height: 118.75%;
  text-align: center;
  color: #FFFFFF;
  margin: 0px 0px 9px 0px;
  white-space: nowrap;
}

@media (max-width: 769px) {
  .weather-info__indicators {
    font-size: 14px;
    margin: 0px 0px 5px 0px;
  }
}

.weather-info__name {
  font-weight: 300;
  font-size: 10px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.beach-slider__box {
  padding: 50px 0px 50px 0px;
  overflow: hidden;
}

@media (max-width: 769px) {
  .beach-slider__box {
    padding: 50px 0px 100px 0px;
  }
}

.beach-slider__slider {
  position: relative;
}

.beach-slider__line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (26%)[6];
      grid-template-columns: repeat(6, 26%);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.beach-slider__slide {
  position: relative;
  width: 100%;
}

.beach-slider__slide-active {
  z-index: 20;
}

.beach-slider__image img {
  width: 100%;
}

.beach-slider__cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000bb;
}

.beach-slider__cover-active {
  background-color: #0000002f;
}

.beach-slider__btn {
  opacity: 0;
}

.beach-slider__btn-active {
  z-index: 20;
  position: absolute;
  left: 5%;
  bottom: 0;
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 769px) {
  .beach-slider__btn-active {
    bottom: -55px;
  }
}

.beach-slider__name {
  position: absolute;
  top: 7%;
  left: 15%;
  line-height: 90%;
}

.beach-slider__place {
  position: absolute;
  bottom: 50px;
  left: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 122.22%;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #FFFFFF;
  white-space: nowrap;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transform: translate(10%, 80%) rotate(-90deg);
          transform: translate(10%, 80%) rotate(-90deg);
  padding: 5px;
}

@media (max-width: 1025px) {
  .beach-slider__place {
    font-size: 16px;
    letter-spacing: 5px;
    -webkit-transform: translate(10%, 70%) rotate(-90deg);
            transform: translate(10%, 70%) rotate(-90deg);
  }
}

@media (max-width: 769px) {
  .beach-slider__place {
    bottom: 0px;
    font-size: 14px;
    letter-spacing: 3px;
  }
}

@media (max-width: 661px) {
  .beach-slider__place {
    font-size: 12px;
    letter-spacing: 0px;
    -webkit-transform: translate(10%, 90%) rotate(-90deg);
            transform: translate(10%, 90%) rotate(-90deg);
  }
}

@media (max-width: 426px) {
  .beach-slider__place {
    font-size: 9px;
  }
}

.beach-slider__arrows {
  position: absolute;
  top: -30px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.beach-slider__right-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0px 20px 0px 0px;
}

#beach-1 {
  -webkit-transform: translate(0px, 10px) scaleX(1.1);
          transform: translate(0px, 10px) scaleX(1.1);
}

@media (max-width: 1025px) {
  #beach-1 {
    -webkit-transform: translate(0px, 5px) scaleX(1.05);
            transform: translate(0px, 5px) scaleX(1.05);
  }
}

@media (max-width: 661px) {
  #beach-1 {
    -webkit-transform: translate(0px, 2px) scaleX(1.05);
            transform: translate(0px, 2px) scaleX(1.05);
  }
}

#beach-2 {
  -webkit-transform: translate(0px, 30px) scaleX(1.1);
          transform: translate(0px, 30px) scaleX(1.1);
}

@media (max-width: 1025px) {
  #beach-2 {
    -webkit-transform: translate(0px, 20px) scaleX(1.05);
            transform: translate(0px, 20px) scaleX(1.05);
  }
}

@media (max-width: 661px) {
  #beach-2 {
    -webkit-transform: translate(0px, 10px) scaleX(1.05);
            transform: translate(0px, 10px) scaleX(1.05);
  }
}

#beach-3 {
  -webkit-transform: translate(0px, 0px) scaleX(1.1);
          transform: translate(0px, 0px) scaleX(1.1);
}

@media (max-width: 1025px) {
  #beach-3 {
    -webkit-transform: translate(0px, 0px) scaleX(1.05);
            transform: translate(0px, 0px) scaleX(1.05);
  }
}

@media (max-width: 661px) {
  #beach-3 {
    -webkit-transform: translate(0px, 0px) scaleX(1.05);
            transform: translate(0px, 0px) scaleX(1.05);
  }
}

#beach-4 {
  -webkit-transform: translate(0px, 30px) scaleX(1.1);
          transform: translate(0px, 30px) scaleX(1.1);
}

@media (max-width: 1025px) {
  #beach-4 {
    -webkit-transform: translate(0px, 20px) scaleX(1.05);
            transform: translate(0px, 20px) scaleX(1.05);
  }
}

@media (max-width: 661px) {
  #beach-4 {
    -webkit-transform: translate(0px, 10px) scaleX(1.05);
            transform: translate(0px, 10px) scaleX(1.05);
  }
}

#beach-5 {
  -webkit-transform: translate(0px, 0px) scaleX(1.1);
          transform: translate(0px, 0px) scaleX(1.1);
}

@media (max-width: 1025px) {
  #beach-5 {
    -webkit-transform: translate(0px, 0px) scaleX(1.05);
            transform: translate(0px, 0px) scaleX(1.05);
  }
}

@media (max-width: 661px) {
  #beach-5 {
    -webkit-transform: translate(0px, 0px) scaleX(1.05);
            transform: translate(0px, 0px) scaleX(1.05);
  }
}

/*================Travel===============================*/
.travel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.travel__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0px 0px 50px 0px;
}

@media (max-width: 1025px) {
  .travel__head {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 769px) {
  .travel__head {
    margin: 0px 0px 0px 0px;
  }
}

.travel__title {
  margin: 0px 0px 0px 294px;
}

@media (max-width: 1025px) {
  .travel__title {
    margin: 0px 0px 0px 194px;
  }
}

@media (max-width: 769px) {
  .travel__title {
    margin: 0px 0px 0px 94px;
  }
}

@media (max-width: 426px) {
  .travel__title {
    margin: 0px 0px 0px 50px;
  }
}

.travel__slider-line {
  position: relative;
}

.travel__arrows {
  position: absolute;
  right: 60px;
  top: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 20;
}

@media (max-width: 1025px) {
  .travel__arrows {
    top: 200px;
  }
}

@media (max-width: 769px) {
  .travel__arrows {
    top: 150px;
  }
}

@media (max-width: 660px) {
  .travel__arrows {
    top: 0px;
  }
}

@media (max-width: 426px) {
  .travel__arrows {
    top: 0px;
  }
}

.travel__arrow-left {
  cursor: pointer;
  margin: 0px 20px 0px 0px;
}

.travel__arrow-right {
  cursor: pointer;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.travel__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.travel__main-content-active {
  opacity: 1;
}

.travel__main-content-abs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.travel__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.travel__ailine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0px 0px 102px 0px;
  padding: 0px 0px 0px 140px;
}

@media (max-width: 1439px) {
  .travel__ailine {
    padding: 0px 0px 0px 70px;
  }
}

@media (max-width: 1025px) {
  .travel__ailine {
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 660px) {
  .travel__ailine {
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 40px 0px;
  }
}

.travel__information {
  margin: 0px 0px 200px 0px;
  padding: 0px 170px;
}

@media (max-width: 1439px) {
  .travel__information {
    padding: 0px 85px;
  }
}

@media (max-width: 1025px) {
  .travel__information {
    padding: 0px 40px;
    margin: 0px 0px 160px 0px;
  }
}

@media (max-width: 769px) {
  .travel__information {
    margin: 0px 0px 140px 0px;
  }
}

@media (max-width: 660px) {
  .travel__information {
    padding: 0px 10px;
    margin: 0px 0px 80px 0px;
  }
}

@media (max-width: 425px) {
  .travel__information {
    margin: 0px 0px 30px 0px;
  }
}

.travel__button {
  position: relative;
}

.place-travel__place-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.place-travel__place-image img {
  width: 100%;
}

.place-travel__cover-image {
  position: absolute;
  top: 0;
  left: -20%;
  z-index: 1;
  width: 120%;
  height: 100%;
  background: radial-gradient(ellipse at 30% 50%, rgba(23, 25, 25, 0) 0%, rgba(23, 25, 25, 0) 0%, rgba(23, 25, 25, 0) 9%, #171919 70%);
}

.place-travel__titles {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 90px 70px 0px -150px;
}

@media (max-width: 1441px) {
  .place-travel__titles {
    margin: 90px 60px 0px -150px;
  }
}

@media (max-width: 769px) {
  .place-travel__titles {
    margin: 70px 60px 0px -150px;
  }
}

@media (max-width: 660px) {
  .place-travel__titles {
    margin: 60px 60px 0px -150px;
  }
}

@media (max-width: 425px) {
  .place-travel__titles {
    margin: 40px 60px 0px -150px;
  }
}

.place-travel__small-title {
  white-space: nowrap;
}

.airline-travel__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.airline-travel__sub-title {
  position: relative;
}

.airline-travel__sub-title::before {
  content: "";
  background: #FFFFFF;
  opacity: 0.5;
  width: 80px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 150px;
}

@media (max-width: 661px) {
  .airline-travel__sub-title::before {
    width: 40px;
    top: 40%;
    left: 100px;
  }
}

@media (max-width: 426px) {
  .airline-travel__sub-title::before {
    width: 30px;
    top: 40%;
    left: 80px;
  }
}

.airline-travel__airline-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.airline-travel__small-title {
  margin: 0px 26px 0px 0px;
}

.airline-travel__airbus {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  z-index: 2;
}

.airline-travel__airbus img {
  width: 100%;
}

.information-travel__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -30px;
}

@media (max-width: 1025px) {
  .information-travel__box {
    margin: 0px -20px;
  }
}

@media (max-width: 660px) {
  .information-travel__box {
    margin: 0px -5px;
  }
}

@media (max-width: 425px) {
  .information-travel__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.information-travel__column {
  padding: 0px 30px;
}

@media (max-width: 1025px) {
  .information-travel__column {
    padding: 0px 20px;
  }
}

@media (max-width: 660px) {
  .information-travel__column {
    padding: 0px 5px;
  }
}

@media (max-width: 425px) {
  .information-travel__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: 0px 0px 40px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.information-travel__describtion {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg) translate(-97%, -150%);
          transform: rotate(-90deg) translate(-97%, -150%);
}

@media (max-width: 1025px) {
  .information-travel__describtion {
    font-size: 18px;
    letter-spacing: 6px;
    -webkit-transform: rotate(-90deg) translate(-97%, -100%);
            transform: rotate(-90deg) translate(-97%, -100%);
  }
}

@media (max-width: 769px) {
  .information-travel__describtion {
    font-size: 16px;
    letter-spacing: 2px;
  }
}

@media (max-width: 661px) {
  .information-travel__describtion {
    font-size: 12px;
    -webkit-transform: rotate(0deg) translate(0, -100%);
            transform: rotate(0deg) translate(0, -100%);
  }
}

@media (max-width: 426px) {
  .information-travel__describtion {
    font-size: 9px;
  }
}

.information-travel__info {
  line-height: 90%;
  position: relative;
  white-space: nowrap;
}

@media (max-width: 1110px) {
  .information-travel__info {
    font-size: 35px;
  }
}

@media (max-width: 1025px) {
  .information-travel__info {
    font-size: 27px;
  }
}

@media (max-width: 769px) {
  .information-travel__info {
    font-size: 22px;
  }
}

@media (max-width: 661px) {
  .information-travel__info {
    font-size: 18px;
  }
}

@media (max-width: 426px) {
  .information-travel__info {
    font-size: 20px;
  }
}

.button-travel__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button-travel__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: -450%;
  width: 30%;
}

.button-travel__image img {
  width: 100%;
}

@media (max-width: 1025px) {
  .button-travel__image {
    bottom: -450%;
  }
}

@media (max-width: 769px) {
  .button-travel__image {
    bottom: -350%;
  }
}

@media (max-width: 661px) {
  .button-travel__image {
    bottom: -380%;
  }
}

@media (max-width: 540px) {
  .button-travel__image {
    bottom: -280%;
  }
}

@media (max-width: 426px) {
  .button-travel__image {
    bottom: -150%;
  }
}

/*----------------------test---------------*/
.test__body {
  background-color: #ff7d7d;
  padding: 10px;
}

.test__btn {
  width: 100px;
  height: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

.test__slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  position: relative;
}

.test__slides {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.test__slides img {
  width: 100%;
  height: 100%;
}

.test__slides-active {
  opacity: 1;
}

.test__slides-relative {
  position: relative;
  opacity: 1;
}
